AccessControl==5.7
Acquisition==4.13
alembic==1.7.4
AuthEncoding==4.3
autopep8==1.5.7
beautifulsoup4==4.9.3
black==22.6.0
BTrees==4.11.3
certifi==2021.5.30
cffi==1.15.1
Chameleon==3.10.1
charset-normalizer==2.0.4
click==8.0.1
cryptography==37.0.4
DateTime==4.7
dnspython==2.1.0
DocumentTemplate==4.1
email-validator==1.1.3
ExtensionClass==4.9
Flask==2.2.3
Flask-Cors==3.0.10
Flask-JWT-Extended==4.4.4
flask-marshmallow==0.15.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==3.0.3
flask-swagger-ui==4.11.1
Flask-WTF==0.15.1
fpdf==1.7.2
greenlet==1.1.2
gunicorn==20.1.0
idna==3.2
importlib-metadata==4.8.1
importlib-resources==5.2.3
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.5
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-sqlalchemy==0.29.0
MouseInfo==0.1.3
MultiMapping==4.1
multipart==0.2.4
mypy-extensions==0.4.3
mysql-connector-python==8.0.25
packaging==23.1
PasteDeploy==3.0.1
pathspec==0.9.0
Persistence==3.6
persistent==4.9.3
Pillow==8.3.1
platformdirs==2.5.2
protobuf==3.17.3
PyAutoGUI==0.9.53
pycodestyle==2.7.0
pycparser==2.21
PyGetWindow==0.0.9
PyJWT==2.6.0
PyMsgBox==1.0.9
PyMySQL==1.0.2
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.27
python-gettext==4.1
python3-xlib==0.15
PyTweening==1.0.3
pytz==2022.5
pywhatkit==5.1
requests==2.26.0
RestrictedPython==6.0
roman==3.3
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==2.0.10
toml==0.10.2
tomli==2.0.1
transaction==3.0.1
typing-extensions==4.3.0
urllib3==1.26.6
waitress==2.1.2
WebOb==1.8.7
WebTest==3.0.0
Werkzeug==2.2.3
wikipedia==1.4.0
WSGIProxy2==0.5.1
WTForms==2.3.3
WTForms-SQLAlchemy==0.3
z3c.pt==3.3.1
zc.lockfile==2.0
ZConfig==3.6.0
zExceptions==4.2
zipp==3.6.0
ZODB==5.8.0
zodbpickle==2.6
Zope==5.7
zope.annotation==4.8
zope.browser==2.4
zope.browsermenu==4.4
zope.browserpage==4.4.0
zope.browserresource==4.4
zope.cachedescriptors==4.4
zope.component==5.0.1
zope.configuration==4.4.1
zope.container==4.10
zope.contentprovider==4.2.1
zope.contenttype==4.6
zope.datetime==4.3.0
zope.deferredimport==4.4
zope.deprecation==4.4.0
zope.dottedname==5.0
zope.event==4.5.0
zope.exceptions==4.6
zope.filerepresentation==5.0.0
zope.globalrequest==1.6
zope.hookable==5.4
zope.i18n==4.9.0
zope.i18nmessageid==5.1.1
zope.interface==5.5.2
zope.lifecycleevent==4.4
zope.location==4.2
zope.pagetemplate==4.6.0
zope.processlifetime==2.4
zope.proxy==4.6.1
zope.ptresource==4.3.0
zope.publisher==6.1.0
zope.schema==6.2.1
zope.security==5.7
zope.sequencesort==4.2
zope.site==4.6.1
zope.size==4.4
zope.structuredtext==4.4
zope.tal==4.5
zope.tales==5.2
zope.testbrowser==5.6.1
zope.testing==4.10
zope.traversing==4.4.1
zope.viewlet==4.3
